/*******************************************
******全局属性
******标题
******段落格式
******链接
******图片
******引用
******列表
******定义列表
******任务列表
******目录
******表格
********************************************/


/*================标题开始=============*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0px;
  font-weight: bold;
}

/* 一级标题 */

h1 {
  display: block;
  font-size: 24px;
  text-align: left;
  color: #40b8fa;
  line-height: 1.5;
  /* 一级标题文字内容之前 h1 ::before  */
  padding-left: 45px !important;
}

/* 二级标题 */

h2 {
  display: block;
  border-bottom: 3px solid #40b8fa;
  font-size: 22px;
  color: #40b8fa !important;
  /*相对定位元素的定位是相对其正常位置。*/
  /*  position: relative;*/
  /* 二级标题文字内容之前 h2 ::before  */
  padding-left: 40px !important;
  /* 二级标题 前缀 将 [#nice_h2 .prefix ] 中的[.prefix]替换为[::before]
    /* 二级标题 前缀 将 [#nice_h2 .suffix ] 中的[.prefix]替换为[::after] */
  /* 
    content: "";    
    background-image: url();
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: -4px;
  */
}

/* 三级标题 */

h3 {
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  border-bottom: 2px solid RGBA(79, 177, 249, 0.65);
  color: #40b8fa !important;
  /*三级标题文字内容之前 h3 ::before */
  padding-left: 30px !important;
}

/* 四级标题*/

h4 {
  font-size: 18px;
  /* 四级标题文字内容之前 h4::before */
  padding-left: 30px !important;
}

/* 五级标题 */

h5 {
  font-size: 16px;
  /* 五级标题文字内容之前 h4::before */
  padding-left: 20px !important;
}

/* 六级标题*/

h6 {
  font-size: 16px;
}

/*================标题结束=============*/

/*================段落格式开始=============*/

/********暂无：下标、上标、高亮、脚注********/

/*段落*/

p {
  color: #595959;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  /*字间距*/
  letter-spacing: 0px;
  font-size: 15px;
  /*词间距*/
  word-spacing: 0px;
  /*首行缩进*/
  text-indent: 0em;
  /*文本对齐 */
  text-align: justify;
  /* 行距 */
  line-height: 1.75;
  /* 空白字符的显示 */
  white-space: pre-wrap !important;
  /* 长度超过一行的单词换行方法  */
  word-wrap: break-word !important;
  /* 非中日韩单词换行方法 */
  word-break: break-all !important;
}

/* 加粗 */

strong {
  font-weight: bold;
  color: #3594f7 !important;
}

strong::before {
  content: "「";
}

strong::after {
  content: "」";
}

/* 斜体 */

em {
  font-style: italic;
  color: #3594f7 !important;
}

em::before {
  content: "『";
}

em::after {
  content: "』";
}

strong em::before,
em strong::before {
  content: none;
}

strong em::after,
em strong::after {
  content: none;
}

/* 删除线 */

s {
  font-style: italic;
  color: red !important;
}

/*水平分隔线*/

hr {
  /*元素的高度*/
  height: 1px;
  /*外边距*/
  margin: 1em 0px;
  /*内边距*/
  padding: 0;
  /*边框*/
  border: none;
  border-top: 2px solid #3baafa !important;
}

kbd {
  font-family: monospace;
  background-color: #ebdfdf !important;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  padding: 1px 5px;
}

video {
  width: auto;
  height: auto;
  border: 1px solid #3baafa;
  object-position: center center;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
}

/*================段落格式结束=============*/

/*================链接开始=============*/

/*超链接*/

a {
  text-decoration: underline;
  font-size: 16px;
  /*[normal|break-word]*/
  word-wrap: break-word;
  color: #1890ff !important;
  /*[normal|bold]*/
  font-weight: normal;
  border-bottom: none;
}

/*================链接结束=============*/

/*================图片开始=============*/

/*图片*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*================图片结束=============*/

/*================引用开始=============*/

/*引用块*/

blockquote {
  text-align: left;
  border-left: 3px solid #00000066 !important;
  background: RGBA(0, 0, 0, 0.05) !important;
  display: block;
  margin: 0;
  padding: 2px 5px !important;
}

/*引用块的文字内容*/

blockquote p {
  color: #777;
  /*首行缩进*/
  text-indent: 0em;
}

q {
  border-left: 6px solid #ddd;
  padding: 0 1em;
  color: #777;
  quotes: none;
}

/*================引用结束=============*/

/*================列表开始=============*/

/* 列表中的项目样式：包括无序前缀点、有序前缀数、列表内容*/

li,
li p {
  font-size: 15px;
  font-weight: normal;
  color: #595959;
  margin: 0;
}

ul,
ol {
  font-size: 15px;
  color: #595959;
  margin-left: 0px;
  margin-bottom: 0.1em;
  padding-left: 3em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  padding-left: 1.5em;
}

blockquote ol,
blockquote ul {
  padding-left: 1.5em;
}

/* 有序列表--一级列表前缀数字样式 Markdown Nice*/

ol li {
  list-style-type: decimal;
  /*[decimal|upper-roman|lower-alpha]*/
}

/* 有序列表--二级列表前缀数字样式*/

ol ol li,
ul ol li {
  list-style-type: lower-roman;
}

/*================列表结束=============*/

/*================定义列表开始=============*/

/* 定义一个定义列表 */

dl {
  padding: 0;
}

/* 定义一个定义定义列表中的项目 */

dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

/* 定义定义列表中项目的描述 */

dl dd {
  margin: 0 0 1em;
  padding: 0 1em;
}

/*================定义列表结束=============*/

/*================任务列表开始=============*/

/*================任务列表结束=============*/

/*================目录开始=============*/

/*================目录结束=============*/

/*================表格开始=============*/

/* 定义一个表格 */

table {
  border-collapse: collapse;
  display: table !important;
  width: -webkit-fill-available;
}

/* 定义表格的行 */

table tr {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* 表格的表头 */

th {
  border: 2px solid #ccc !important;
  font-weight: bold;
  background-color: #f0f0f0;
  font-size: 16px;
  padding: 5px 10px;
}

/* 表格的主体内容 */

tbody {
  margin: 10;
  padding: 0;
}

/* 表格主体内容单元 */

tr td {
  border: 1px solid #ccc;
  font-size: 16px;
  color: #595959;
  padding: 5px 10px;
}

/*隔行改变行的背景色*/

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/*================表格结束=============*/

