/*******************************************
******图片
********************************************/


/*================图片开始=============*/

/*图片*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*================图片结束=============*/

